<configuration scan="false" scanPeriod="60000" debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%yellow(%d{yyyyMMdd HHmmss})]-[%highlight(%-5level)]-[%cyan(%thread %logger{30})]-[%gray(%msg)]%n</pattern>
        </encoder>
    </appender>

    <logger name="com.tokimi" level="DEBUG" additivity="true"/>
    <logger name="com.google" level="ERROR" additivity="true"/>
    <logger name="org.springframework" level="ERROR" additivity="true"/>
    <logger name="org.hibernate" level="ERROR" additivity="true"/>
    <logger name="reactor" level="ERROR" additivity="true"/>
    <!--<logger name="reactor.ipc.netty" level="DEBUG" additivity="true"/>-->
    <!--<logger name="reactor.ipc.netty.channel.ChannelOperationsHandler" level="DEBUG" additivity="true"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>